[user]
	name = Andrea Miglietta
	email = andrea.miglietta92@gmail.com
[github]
	user = andreatsh
[color]
	ui = auto
[help]
	autocorrect = 1
[core]
	editor = vim
[alias]
	l = log --color --abbrev-commit --graph --decorate --relative-date
[push]
	default = simple
